{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geologica">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">
    {% block head %}
    
    {% endblock head %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body onload="actualizaReloj()">
  <div id="hedr" class="header">
    <div class="sidenav">
      <li style="list-style: none; margin-left: 30%;"><p id="reloj"></p></li>
      <li id="darkbtn"><button id="darkmodebtn" class="btn btn-outline-dark" style="color: white;">Dark Mode</button></li>
      <a href="/" class="logo"><img src="{% static 'img/logo.png' %}" alt="" height="100px"></a>
      <a href="/" class="logosmall"><img src="{% static 'img/logo.png' %}" alt="" height="50px"></a>
      <ul class="nav-links">
        <li><a href="/"><p>Home</p></a></li>
        <li><a href="/categories"><p>Categorias</p></a></li>
        <li><a href="/contact"><p>Contacto</p></a></li>
        <li><button id="btn-carro" type="button" class="btn btn-primary mt-5 mx-auto ms-1" data-bs-toggle="offcanvas" data-bs-target="#caroffcanv" aria-controls="offcanvasRightWithBothOptions">
              <img id="imgcart" src="{% static 'img/cart.png' %}" alt="" height="30px">
              <span id="carrospan" class="badge text-bg-secondary">0</span>
            </button>
        </li>
        <li>
        {% if user.is_authenticated %}
            {% if user.is_staff%}
              <button type="button" class="btn btn-outline-primary mt-5 mx-auto dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-center" href="/adminView" style="color: var(--fourth-color);">Tienda</a></li>
                <li><a class="dropdown-item text-center" href="/logout" style="color: rgb(156, 10, 10);">Cerrar Sesion</a></li>
              </ul>
            {% else %}
              <button type="button" class="btn btn-outline-primary mt-5 me-1 mx-auto dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-center" href="/cMyAcc" style="color: var(--fourth-color);">Mi Cuenta</a></li>
                <li><a class="dropdown-item text-center" href="/logout" style="color: rgb(156, 10, 10);">Cerrar Sesion</a></li>
              </ul>
            {% endif %}
        {% else %}
            <a href="/login"><button class="btn btn-outline-primary mt-5 mx-auto" type="button">Ingresar</button></a>
        {% endif %}</li>
      </ul>
    </div>
  </div>
  
    
    {% block body %}
    
    
    {% endblock%}
    <div id="rightcanv">
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="caroffcanv" aria-labelledby="offcanvasRightWBOL">
          <div class="offcanvas-header" style="border: solid rgba(34, 34, 34, 0.637); background-color: rgb(44, 44, 44); color: white">
              <h5 class="offcanvas-title" id="offcanvasRightWBOL">Carro de Compra</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div id="carcanvbody" class="offcanvas-body" style="padding: 3%; background-color: rgba(255, 250, 247, 0.945);">
              <div class="card mx-auto" style="width: 100%; height: 80%; overflow: auto;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row d-flex align-items-center">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody id="carrito-producto">
                          <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
          
          <div class="row" style="padding: 3%;">
            <div class="container mx-auto me-0"> Total: $<span id="carrito-precio"></span></div>    
          </div>
          <div class="row d-flex align-items-center" style=" padding: 5%; border: solid rgba(92, 92, 92, 0.178);">
              <div class="col ms-3 mx-auto">
                <button class="btn btn-light btn-outline-dark" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="font-size: small;">Seguir Comprando</button>
              </div>
              <div class="col mx-auto me-3">
                <a id="btncompra" href="/ccart"><button class="btn btn-dark" type="button" style="font-size: small;">Comprar Productos</button></a>
              </div>
          </div>
      </div>
    </div>
  </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                  <div id="successToast" class="toast d-flex align-items-center text-white bg-success position-fixed top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999">
            {% elif message.tags == 'error' %}
                  <div id="errorToast" class="toast d-flex align-items-center text-white bg-danger position-fixed top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999">
            {% endif %}
                    <div class="toast-body">
                      {{ message }}
                    </div>
                </div>
        {% endfor %}
      {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
    <script src="{% static 'js/apiReloj.js' %}"></script>
    <script src="{% static 'js/darkMode.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/carro.js' %}"></script>
    {% block script %}

    
    {% endblock %}

</body>
</html>