{% extends './StoreAdmin.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Lista Categorias{% endblock %}

{% block body %}
    
    <div id="bgkc" class="container" style="position: absolute; width: 100%;">
        <div id="contlist" class="container mt-5">
            <div class="d-flex col-md-4 mt-5 mb-5 mx-auto">
                <input id="listSearch" class="form-control me-2" data-bs-toggle="collapse" data-bs-target="#collapsesbar" aria-expanded="false" aria-controls="collapsesbar" type="search" placeholder="Search" aria-label="Search">
            </div>
            <h3>Listado de Categorias</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Opciones</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    {% for i in Cate %}
                        <tr>
                            <th scope="row">{{i.cate_id}}</th>
                            <td><img src="{{i.cate_img.url}}" alt="" width="70" height="50"></td>
                            <td>{{i.cate_name}}</td>
                            <td>
                                <a href="/edCate/{{i.cate_id}}" class="btn btn-outline-primary">Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-outline-danger btn-abrir-modalcl" data-bs-toggle="modal" data-bs-target="#cemodal" data-product-id="{{i.cate_id}}">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-12 d-flex justify-content-center mt-5"><a href="/AddCateg"><button class="btn btn-outline-success">Agregar</button></a></div>
        </div>
        <div class="modal fade" id="cemodal" aria-hidden="true" aria-labelledby="prodagresats" tabindex="-1" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5">Eliminar Categoria</h1>
                  <button id="caBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6 id="modalbodyce"></h6>
                  <p style="font-size: small; color: red;">Esta Accion Eliminara todos los Titulos Asociados a Esta Categoria</p>
                </div>
                <div class="modal-footer">
                  <a id="delBtncate" href="#" class="btn btn-outline-danger">Eliminar</a>
                  <button id="caBtn"class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
          
    </div>



{% endblock body %}

{% block script %}
    <script src="{% static 'js/funciones.js' %}"></script>
{% endblock %}