{% extends './StoreAdmin.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Editar Producto{% endblock %}

{% block body %}

<section id="bgkc" class="onesa">
    <div class="container mt-5">
     <h2 class="mb-4">Editar producto</h2>
     <form id="formEdProduct" action="/eddProd" method="POST" enctype="multipart/form-data"> {% csrf_token %}
         <div class="row">
            <div class="col-md-2">
                <label for="txSku">SKU:</label>
                <input readonly value="{{Prod.prod_id}}" name="txSku" id="txSku" type="text" class="form-control">
            </div>
            

            <div class="col-md-6">
                 <label for="txTitle">Titulo:</label>
                 <input value="{{Prod.name}}" name="txTitle" id="txTitle" type="text" class="form-control">
             </div>

             <div class="col-md-4">
                 <label for="txAuthor">Autor:</label>
                 <input value="{{Prod.author}}" name="txAuthor" id="txAuthor" type="text" class="form-control">
             </div>


             <div class="col-md-4 mb-2">
                 <label for="txPrice">Precio:</label>
                 <input value="{{Prod.price}}" name="txPrice" id="txPrice" type="number" class="form-control">
             </div>


             <div class="col-md-4 mb-2">
                 <label for="optCate">Categoria:</label>
                 <select name="optCate" class="form-select" aria-label="Default select example">
                     <option disabled selected value="null">Seleccione</option>
                     {% for c in Cate %}
                         <option {% if CateId == c.cate_id  %} selected {% endif %} value="{{c.cate_id}}">{{c.cate_name}}</option>
                     {% endfor %}
                 </select>
             </div>


             <div class="col-md-4 mb-2">
                 <label for="txStock">Stock:</label>
                 <input value="{{Prod.stock}}" name="txStock" id="txStock" type="number" class="form-control">
             </div>


             <div class="col-md-12 mb-2">
                 <label for="txDesc">Descripción:</label>
                 <input value="{{Prod.desc}}" name="txDesc" id="txDesc" type="text" class="form-control">
             </div>


             <div class="col-md-12 mb-2">
                 <label for="iptImg">Imagen URL:</label>
                 <img src="{{Prod.img.url}}" alt="" height="70px">
                 <input name="iptImg" id="iptImg" type="file" class="form-control">
             </div>
         </div>
         <div class="d-flex justify-content-center mt-5">
             <button class="btn btn-outline-success">Editar producto</button>
         </div>
     </form>
 </section>

    

{% endblock body %}