{% extends './base.html' %}
{% load static %}



{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block body %}

    
    <section class="one">
        <div class="container">
          <div class="row mt-2">
            {% for p in Prod %}
              <div class="col mt-3">
                <div class="card" style="width: 11rem;">
                  <img src="{{p.img.url}}" class="card-img-top" alt="..." >
                  <div class="card-body">
                      <p class="card-text ">{{p.name}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
    </section>
    <section class="two">
      <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora laudantium, libero delectus adipisci praesentium dolor quaerat culpa quis unde at distinctio aut natus iure vitae optio tempore quo. Omnis, officia.</p>
      </div>
    </section>
    

{% endblock body %}