{% extends './base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block body %}

    <header class="header">
        <div class="searchbar d-flex">
            <button class="btn btn-outline-dark ms-4 me-4">Menu</button>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="#">Features</a>
                  <a class="nav-link" href="#">Pricing</a>
                  <a class="nav-link disabled">Disabled</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <section class="one">
        <div class="container">
            <h1>Texto</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora placeat consequuntur quo maiores repudiandae, magnam aliquid similique quia autem eius sit nulla fugiat sequi saepe, beatae fugit voluptatibus nam veritatis.</p>
        </div>
        <section class="two"></section>
    </section>
    

{% endblock body %}