{% extends './base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Mi Cuenta{% endblock %}

{% block body %}
    
    <div id="bgkc" class="container" style="position: absolute; width: 100%; padding: 10%;">
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-md-7 mt-2 mb-5">
                    <a href="/edAcc/{{request.user.username}}"><button type="button" class="btn btn-outline-success form-control">Editar Datos</button></a>
                </div>
                <div class="col-md-7 mb-5">
                    <a href="/edCon/{{request.user.username}}"><button type="button" class="btn btn-outline-primary form-control">Cambiar Contraseña</button></a>
                </div>
                <div class="col-md-7 mb-5">
                    <a href="/cdelAcc/{{request.user.username}}"><button type="button" class="btn btn-outline-danger form-control">Eliminar Cuenta</button></a>
                </div>
            </div>   
        </div>
    </div>



{% endblock body %}