{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geologica">
    {% block head %}
    
    {% endblock head %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body onload="actualizaReloj()">
  <div id="hedr" class="header">
    <div class="sidenav">
      <li style="list-style: none; margin-left: 30%;"><p id="reloj"></p></li>
      <li id="darkbtn"><button id="dark-mode-toggle" class="btn btn-outline-dark" style="color: white;">Dark Mode</button></li>
      <a href="/" class="logo"><img src="{% static 'img/logo.png' %}" alt="" height="100px"></a>
      <a href="/" class="logosmall"><img src="{% static 'img/logo.png' %}" alt="" height="50px"></a>
      <ul class="nav-links">
        <li><a href="/"><p>Home</p></a></li>
        <li><a href="#"><p>Administrar Usuarios</p></a></li>
        <li><a href="/adminView"><p>Administrar Tienda</p></a></li>
        <li><button type="button" class="btn btn-outline-primary mt-5 mx-auto dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-center" href="/adminView" style="color: var(--fourth-color);">Tienda</a></li>
          <li><a class="dropdown-item text-center" href="/logout" style="color: rgb(156, 10, 10);">Cerrar Sesion</a></li>
        </ul></li>
      </ul>
    </div>
  </div>
    <section id="bgkc" class="onesad">
      {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div id="successToast" class="toast d-flex align-items-center text-white bg-success position-fixed top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999">
                {% elif message.tags == 'error' %}
                    <div id="errorToast" class="toast d-flex align-items-center text-white bg-danger position-fixed top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999">
                {% endif %}
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
          {% endif %}
    </section>
    
    {% block body %}
    
    
    {% endblock body %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    {% block script %}

    
    {% endblock %}

</body>
</html>